<div class="title-container">
  <h1>Play analyzer</h1>
  <p>You can analyze plays to see how many lines each character speaks. Simply provide the link for the play in xml format and press <em>Analyze</em>.</p>
  <p>Choose one from <a href="http://www.ibiblio.org/xml/examples/shakespeare/" target="_blank">here</a></p>
</div>


<% flash.each do |key, value| %>
  <div class="error-message">
    <%= "#{value}" %>
  </div>
<% end %>

<div class="form-container">
  <%= form_tag('/analyzer/results', method: 'post', class: 'form-elements') do %>
    <h3><%= label_tag :play, 'What play will be today?' %></h3>
    <%= text_field_tag :play, '', class: 'form-input' %>
    <%= submit_tag 'Analyze', class: 'form-button' %>
  <% end %>
</div>
